@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

/* Хедер */
.header {
    color: #000;
    background: #fff;
}

.navigation-list {
    list-style: none;
}

.navigation-link {

    font-size: 20px;
    line-height: 24px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

/* Основной раздел */
.main {
    color: inherit;
    background-color: #fff;
    background-image: url("../images/mountains-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*Для "небольношй городок, заслуживающий большего" и "приезжайте отдохнуть"*/
.greeting-descript {
    text-align: center;
}

.greeting-title {
    color: inherit;
    background-color: #fff;
    font-style: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.greeting-text {
    color: #333;
    background-color: #fff;
    font-size: 22px;
    line-height: 26px;
}

/* список преимуществ */

.advantages-list {
    list-style: none;
}

.advantages-item {
    width: 400px;
    height: 385px;
    background-color: #82B3D3;
    color: #fff;
}

.advantages-item-square,
.advantages-item-tourist {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000;
}

.advantages-item-road {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000;
}

.advantages-title {
    font-style: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-description-square,
.advantages-description-road,
.advantages-description-tourist {
    color: #333;
}

/* cписок features */

.features-list {
    list-style: none;
}

.features-item {
    width: 400px;
    height: 385px;
}
